<ion-content>
  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide>
      <img src="assets/graduation.svg" alt="graduation">
      <h2>Bienvenido</h2>
      <p>Accede a todos los recursos universitarios posibles desde tu móvil.</p>
    </ion-slide>
    <ion-slide>
      <img style="width:85%" src="assets/certification1.svg" alt="certificate time">
      <h2>Verifícate</h2>
      <p>Acreditar que perteneces a alguna universidad con tan solo una foto de tu carnet donde se vea claramente el logo y nombre.</p>
    </ion-slide>
    <ion-slide>
      <img src="assets/articles1.svg" alt="artivles">
      <h2>Colabora</h2>
      <p>Sube tus propios recursos, auyda u ofrece tus servicios.</p>
    </ion-slide>
    <ion-slide>
      <img src="assets/articles1.svg" alt="artivles">
      <h2>¿Te apuntas?</h2>
      <button class="bubbly-button" (click)="goLogin()">¡Entrar!</button>
    </ion-slide>
  </ion-slides>
</ion-content>
