<ion-app>
  <ion-menu menuId="main-menu" contentId="main">
    <ion-content>
      <div class="menu-header-bg"></div>
      <div class="header-content">
        <img src="assets/image-placeholder.jpg" alt="profile image">
        <ion-label>
          <h2>Jorge MB</h2>
          <p>Software developer</p>
        </ion-label>
      </div>
      <ion-list lines="none" class="menu-items">
        <ion-item class="active">
          <ion-icon name="home-outline"></ion-icon>Inicio
        </ion-item>
        <ion-item>
          <ion-icon name="notifications-outline"></ion-icon>Notificaciones
        </ion-item>
        <ion-item>
          <ion-icon name="settings-outline"></ion-icon>Ajustes
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet  id="main"></ion-router-outlet>
</ion-app>
