<ion-header class="ion-no-border">
  <ion-item lines="none">
    <ion-buttons slot="start">
      <ion-menu-button color="primary" menu="main-menu"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-icon color="primary" name="settings-outline"></ion-icon>
    </ion-buttons>
    <ion-label>
      <h2>UniBasic</h2>
      <p>Universitat Jaume I</p>
    </ion-label>
  </ion-item>
</ion-header>

<ion-content [fullscreen]="true" scrollY="true">
  <div class="ion-padding wrapper">
    <ion-searchbar
      placeholder="Buscar ..."
      [animated]="true"
      showCancelButton="focus"
      (ionCancel)="onInput($event)"
      (ionFocus)="onInput($event)"
    ></ion-searchbar>
  </div>

  <animation-fade [show]="!filtering">
    <home-featured></home-featured>

    <home-activities></home-activities>
  </animation-fade>

  <animation-fade [show]="filtering">
    <app-filtering></app-filtering>
  </animation-fade>

</ion-content>
